@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');


body {
  margin: 5%;
  text-align: center;
  font-family: 'gotham', sans-serif;
}

.likes>span {
  position: relative;
  margin: 7px;
  margin-top: 34px;
  font-size: 23px;
  cursor: pointer;
}